GitPython==3.1.31
PyGithub==1.58.2
PyYAML==6.0
Sphinx==7.0.1
dictdiffer==0.9.0
docker==6.1.2
requests==2.30.0
ruamel.yaml==0.17.26
sphinx-material==0.0.35
sphinx_fontawesome==0.0.6
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-nwdiag==2.0.0
tabulate==0.9.0
