PyDriller==2.6
PyGithub==2.3.0
PyYAML==6.0.2
Sphinx==8.0.2
dictdiffer==0.9.0
docker==7.1.0
requests==2.32.3
ruamel.yaml==0.18.6
sphinx-material==0.0.36
sphinx_fontawesome==0.0.6
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-nwdiag==2.0.0
tabulate==0.9.0
