---
name: Build documentation

"on":
  workflow_dispatch:
  push:
    paths:
      - 'doc/source/**'
      - '.github/workflows/build-documentation.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'doc/source/**'
      - '.github/workflows/build-documentation.yml'

jobs:
  default:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: pip3 install -r requirements.txt
      - run: sphinx-build -b html doc/source doc/build/html
      - uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          local-dir: doc/build/html/
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          security: strict
          server-dir: /
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
        if: |
          github.repository == 'osism/release' &&
          github.ref == 'refs/heads/main'
